mixin techListing(techObj)
	if techObj != null
		.panel.panel-default.techPanel
			.panel-heading
				h3.panel-title(data-toggle='tooltip' title='Username: ' + techObj.username)= techObj.name
				if techObj.type !== 'End'
					.icons
						.glyphicon.glyphicon-map-marker.selected
						.glyphicon(class=(techObj.timestamp[1] > 120 ? 'glyphicon-alert' : 
							techObj.timestamp[1] > 100 ? 'glyphicon-ok warning' : 'glyphicon-ok'))
				else
					.icons
						.glyphicon.glyphicon-map-marker.selected
						.glyphicon.glyphicon-ban-circle
			.panel-body
				p="Last Check in: " + techObj.timestamp[0]
				p= "Type: " + techObj.type
				p.message= "Message: " + techObj.message
				p= techObj.type != "End" ?  "Last check in was " + techObj.timestamp[2] + "ago" : ""
			
each tech in techArray
	+techListing(tech)